#coib-cookie-box {
    font-family: Arial, Helvetica, sans-serif;
    /* display: block; */
    display: none;
    position: fixed;
    z-index: 9999;
    right: 12px;
    bottom: 12px;
    padding: 16px;
    background-color: #ffffff;
    width: 360px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    box-sizing: content-box;
    line-height: normal;
}

.coib-cookie-box-animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.coib-cookie-box-fade-in-bottom { 
    animation-name: coib-fade-in-bottom 
}
@keyframes coib-fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

.coib-cookie-box-fade-out-bottom { 
    animation-name: coib-fade-out-bottom 
}
@keyframes coib-fade-out-bottom {
    from {
        opacity: 1;
    }
    to { 
        opacity: 0;
        transform: translateY(100%);
    }
}


#coib-title {
    display: block;
    font-size: 2em;
    text-align: center;
}

#coib-description {
    display: block;
    margin-bottom: 6px;
    color: #5a5a5a;
}

.coib-selection-container {
    display: block;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Checkbox */
.coib-checkbox-container {
    position: relative;
    margin-right: 12px;
    padding-left: 24px;
    padding-top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    height: 18px;
    /*has to be same as coib-checkbox height*/
    line-height:18px;
    color: #5a5a5a;
}

.coib-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.coib-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #4CAF50;
}

/* On mouse-over, add a grey background color */
.coib-checkbox-container:hover input ~ .coib-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.coib-checkbox-container input:checked ~ .coib-checkbox {
  background-color: #4CAF50;
  border-color: #4CAF50
}

.coib-checkbox-container input:disabled ~ .coib-checkbox {
  background-color: #ccc;
  border-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.coib-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.coib-checkbox-container input:checked ~ .coib-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.coib-checkbox-container .coib-checkbox:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.coib-button {
  background-color: #b3abae;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.coib-button:hover {
  background-color: #a99fa3;
}

.coib-button:focus {
    outline: 0;
}

.coib-button-primary {
  background-color: #4CAF50;
}

.coib-button-primary:hover {
  background-color: #3e8e41;
}

#coib-more {
    display: block;
    color: #828282;
    font-size: 0.9em;
    text-align: center;
    padding: 1px;
}

#coib-more a {
    color: #828282;
}
